.bread{
    direction: ltr !important;
}

.sub-category li{
border: none;
padding-right: 0;
padding-top: 0;
}

.sub-category li a{
    color:black
}

.form-check-input{
    margin-left: 7px !important;
}